.container h3 {
  color: rgba(9, 255, 111, 0.979);
}
.container_form {
  display: grid;
  grid-template: auto / auto auto;
}

.container_form input {
  padding: 15px;
  margin: 15px;
  font-size: 15px;
}

.container_form p {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px 60px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(42, 122, 42);
  color: white;
  font-size: 18px;
}

button:hover {
  background-color: rgba(58, 126, 58, 0.685);
}

.card {
  background-color: #5377c0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -1px #000000;
  box-shadow: 5px 5px 15px -1px #000000;
}

.card h4 {
  margin-top: 40px;
  padding: 5px;
  margin-bottom: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
